@font-face {
    font-family: "Futura";
    src: url("../public/ProjectPage/Fonts/FuturaCyrillicDemi.ttf"); /* Fix the path */
}

@font-face {
    font-family: "Monserrat";
    src: url("../public/ProjectPage/Fonts/Montserrat-Medium.ttf"); /* Fix the path */
}

.section-hero {
    top: 0vh;
    position: absolute;
    height: 200vh;
    width: 100vw; 
}


.sectionone {
    top: 200vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.sectiontwo {
    top: 400vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.sectionthree {
    top: 300vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.sectionfour {
    top: 525vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.sectionfive {
    top: 400vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* Intro section*/

.intro-text-title {
    position: absolute;
    top: 0.5em;
    left: 3em;
    line-height: 1.1em;
    font-family: Futura;
    font-size: 4.5em;
    width: 100vw;
}

.intro-text-left {
    position: absolute;
    top: 15em;
    left: 7.1em;
    font-family: Futura;
    font-size: 1.9em;
    color: #BF1736;
}
  
.intro-text-right-header {
    position: absolute;
    top: 22.2em;
    left: 35.5em;
    font-family: Futura;
    font-size: 1.3em;
    white-space: nowrap;
}

.intro-text-right-text {
    position: absolute;
    top: 32em;
    left: 46.2em;
    line-height: 1.3em;
    font-family: Monserrat;
    color: #6F6F6F;
    font-size: 1.0em;
    width: 40vw;
}

/* Second section */

.second-text-title {
    position: absolute;
    top: 0.1em;
    left: 1.8em;
    line-height: 1.1em;
    font-family: Futura;
    color: #8C86DB;
    font-size: 7.2em;
    width: 50vw;
}

.second-text-right-header {
    position: absolute;
    top: 10.2em;
    left: 35.4em;
    font-family: Futura;
    font-size: 1.3em;
    white-space: nowrap;
}

.second-text-right-text {
    position: absolute;
    top: 16em;
    left: 46em;
    line-height: 1.3em;
    font-family: Monserrat;
    color: #6F6F6F;
    font-size: 1.0em;
    width: 40vw;
}


.container{
    position: absolute;
    top: 26em;
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9em 0 9em;
}


img{
    position: relative;
    height: 21em;
    width: 27em;
    transition: 0.7s;
    border-radius: 10px;
    object-fit: cover;
}



/* Third section */
.tanda-video {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
}
  
.tanda-video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    object-fit: cover;
}


/* Four section */
.last-text-title{
    position: absolute;
    top: 10em;
    left: 6em;
    line-height: 1.1em;
    font-family: Futura;
    color: #645EAD;
    font-size: 1.5em;
    width: 50vw;
    opacity: 0;  
}
.last-text-header{
    position: absolute;
    top: 4em;
    left: 2em;
    font-family: Futura;
    font-size: 4.5em;
    line-height: 1.0em;
    opacity: 0; 
}
.last-text-description{
    position: absolute;
    top: 29em;
    left: 9.0em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    font-family: Monserrat;
    color: #3F3F3F;
    font-size: 1.0em;
    width: 40vw;
    opacity: 0; 
}


/* #slider1 ~ .imgContainer{
    left: -0em;
} */




  
  
