@import "tailwindcss";

@font-face {
  font-family: "Futura";
  src: url("/Fonts/Futura-Medium-01.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../../../public/ProjectPage/Fonts/FuturaCyrillicDemi.ttf"); /* Fix the path */
}


@theme {
  --color-customred: #bf1736;
  --color-custompurple: #b1acf5;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
}

.font-futura-PT-Light {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Futura-PT-Light-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.Futura-PT-Book {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Futura-PT-Book-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Futura-PT-Medium {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.Futura-PT-Medium-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.Futura-PT-Demi {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Futura-PT-Demi-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.Futura-PT-Heavy {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Futura-PT-Heavy-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.Futura-PT-Extra-Bold {
  font-family: "futura-pt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.Futura-PT-Extra-Bold-Oblique {
  font-family: "futura-pt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.Futura-PT-Bold {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Futura-PT-Bold-Oblique {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#root {
  filter: unset !important;
}

#exit{
  background-image: url('../public/Homepage/Images/BG-new.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tooltip-container {
  opacity: 0;
  box-shadow: inset 0px 0px 11px 5px white;
  padding: 0.9em 1.9em;
  border-radius: 1.1em;
  background-color: transparent; /* Ensure the container is transparent */
}

.tooltip-text {
  font-family: Futura;
  font-size: 1.5em;
  color: #bcb4ff;
  filter: brightness(0.65) saturate(1.9);
}
